

<section id="slider">
	<!--slider-->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="slider-carousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#slider-carousel" data-slide-to="1"></li>
						<li data-target="#slider-carousel" data-slide-to="2"></li>
					</ol>

					<div class="carousel-inner">
						<div class="item active">
							<div class="col-sm-6">
								<h1><span>E</span>-SHOPPER</h1>
								<h2>Cửa hàng thời trang</h2>
								<p>Shopping giúp giảm căng thẳng.</p>
								{{!-- <button type="button" class="btn btn-default get">Mua ngay</button> --}}
							</div>
							<div class="col-sm-6">
								<img src="images/home/girl1.jpg" class="girl img-responsive" alt="" />
								<img src="images/home/pricing.png" class="pricing" alt="" />
							</div>
						</div>
						<div class="item">
							<div class="col-sm-6">
								<h1><span>E</span>-SHOPPER</h1>
								<h2>100% cotton</h2>
								<p>Shopping giúp giảm căng thẳng. </p>
								{{!-- <button type="button" class="btn btn-default get">Mua ngay</button> --}}
							</div>
							<div class="col-sm-6">
								<img src="images/home/girl2.jpg" class="girl img-responsive" alt="" />
								<img src="images/home/pricing.png" class="pricing" alt="" />
							</div>
						</div>

						<div class="item">
							<div class="col-sm-6">
								<h1><span>E</span>-SHOPPER</h1>
								<h2>Những trang phục mùa hè không thể bỏ qua</h2>
								<p>Shopping giúp giảm căng thẳng. </p>
								{{!-- <button type="button" class="btn btn-default get">Mua ngay</button> --}}
							</div>
							<div class="col-sm-6">
								<img src="images/home/girl3.jpg" class="girl img-responsive" alt="" />
								<img src="images/home/pricing.png" class="pricing" alt="" />
							</div>
						</div>

					</div>

					<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>

			</div>
		</div>
	</div>
</section>
<!--/slider-->

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">
					<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							{{#each dataCategory}}
							<div class="panel panel-default">								
								<div class="panel-heading">
									<h4 class="panel-title">
										{{!-- <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
											{{!-- <span class="badge pull-right"><i class="fa fa-plus"></i></span> --}}
											{{name}}
										</a> --}}
										<ul>
											<li><a href="/product/?category={{id}}">{{name}} </a></li>
										</ul>
									</h4>
								</div>
								{{!-- <div id="sportswear" class="panel-collapse collapse">
									<div class="panel-body">
										{{#each dataTrademark}}										
										<ul>
											<li><a href="/product/?category=sport&&trademark=nike">{{this.name}} </a></li>
										</ul>
										{{/each}}
									</div>
								</div>								 --}}
							</div>
							{{/each}}
							
						</div>
					
					<!--/category-products-->

						<div class="brands_products"><!--brands_products-->
							<h2>Thương hiệu	</h2>
							<div class="brands-name">		
							{{#each dataTrademark}}
								<ul class="nav nav-pills nav-stacked">
									<li><a href="/product/?trademark={{id}}"> <span class="pull-right"></span>{{name}}</a></li>
								</ul>
							{{/each}}		
							</div>											
						</div><!--/brands_products-->
						

					<div class="shipping text-center">
						<!--shipping-->
						<img src="images/home/shipping.jpg" alt="" />
					</div>
					<!--/shipping-->

				</div>
			</div>

			<div class="col-sm-9 padding-right">
				<div class="features_items">
					<!--features_items-->
					<h2 class="title text-center">Các mẫu sản phẩm</h2>
					{{#each data}}
					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="/img/upload/{{image}}" alt="" width="260" height="300"/>
									<h2>{{price}} VND</h2>
									<p>{{name}}</p>
									<a href="/product/detail/{{id}}" class="btn btn-default add-to-cart"><i
											class="fa fa-shopping-cart"></i>Xem chi tiết</a>
								</div>
								<div class="product-overlay">
									<div class="overlay-content">
									<h2>{{price}} VND</h2>
									<p>{{name}}</p>
										<a href="/product/detail/{{id}}" class="btn btn-default add-to-cart"><i
												class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					{{/each}}
					
				</div>
				<nav aria-label="Page navigation example">
				<ul class="pagination">
					{{!-- <li class="page-item"><a class="page-link" href="#">Previous</a></li> --}}
					{{#each numberPage}}
					<li class="page-item"><a class="page-link" href="/?page={{page}}">{{page}}</a></li>
					{{/each}}
					{{!-- <li class="page-item"><a class="page-link" href="#">Next</a></li> --}}
				</ul>
				</nav>
				<!--features_items-->

				<div class="category-tab">
					<!--category-tab-->
					<div class="col-sm-12">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tshirt" data-toggle="tab">Áo</a></li>
							<li><a href="#blazers" data-toggle="tab">Quần</a></li>
							<li><a href="#sunglass" data-toggle="tab">Giày</a></li>
							<li><a href="#kids" data-toggle="tab">Trẻ em</a></li>
							<li><a href="#poloshirt" data-toggle="tab">Thể Thao</a></li>
						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade active in" id="tshirt">
							{{#each dataShirt}}
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
										<img src="/img/upload/{{image}}" alt="" width="200" height="210"/>
										<h2>{{price}} VND</h2>
										<p>{{name}}</p>
											<a href="/product/detail/{{id}}" class="btn btn-default add-to-cart"><i
													class="fa fa-shopping-cart"></i>Xem chi tiết</a>
										</div>
									</div>
								</div>
							</div>
							{{/each}}
						</div>

						<div class="tab-pane fade" id="blazers">
							{{#each dataPants}}
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
										<img src="/img/upload/{{image}}" alt="" width="200" height="210"/>
										<h2>{{price}} VND</h2>
										<p>{{name}}</p>
											<a href="/product/detail/{{id}}" class="btn btn-default add-to-cart"><i
													class="fa fa-shopping-cart"></i>Xem chi tiết</a>
										</div>
									</div>
								</div>
							</div>
							{{/each}}

						</div>

						<div class="tab-pane fade" id="sunglass">
							{{#each dataShose}}
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
										<img src="/img/upload/{{image}}" alt="" width="200" height="210">
										<h2>{{price}} VND</h2>
										<p>{{name}}</p>
											<a href="/product/detail/{{id}}" class="btn btn-default add-to-cart"><i
													class="fa fa-shopping-cart"></i>Xem chi tiết</a>
										</div>
									</div>
								</div>
							</div>
							{{/each}}
						</div>

						<div class="tab-pane fade" id="kids">
							{{#each dataChild}}
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
										<img src="/img/upload/{{image}}" alt="" width="200" height="210"/>
										<h2>{{price}} VND</h2>
										<p>{{name}}</p>
											<a href="/product/detail/{{id}}" class="btn btn-default add-to-cart"><i
													class="fa fa-shopping-cart"></i>Xem chi tiết</a>
										</div>
									</div>
								</div>
							</div>
							{{/each}}
						</div>

						<div class="tab-pane fade" id="poloshirt">
							{{#each dataSport}}
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
										<img src="/img/upload/{{image}}" alt="" width="200" height="210"/>
										<h2>{{price}} VND</h2>
										<p>{{name}}</p>
											<a href="/product/detail/{{id}}" class="btn btn-default add-to-cart"><i
													class="fa fa-shopping-cart"></i>Xem chi tiết</a>
										</div>
									</div>
								</div>
							</div>
							{{/each}}

						</div>
					</div>
				</div>
				<!--/category-tab-->

				<div class="recommended_items">
					<!--recommended_items-->
					<h2 class="title text-center">recommended items</h2>

					<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">							
							<div class="item active">
								{{#each dataRecommend1}}
								<div class="col-sm-4">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="/img/upload/{{image}}" alt="" width="255.48" height="255.48"/>
												<h2>{{price}} VND</h2>
												<p>{{name}}</p>
												<a href="/product/detail/{{id}}" class="btn btn-default add-to-cart"><i
														class="fa fa-shopping-cart"></i>Thêm Chi Tiết</a>
											</div>
										</div>
									</div>
								</div>
								{{/each}}
							</div>
							<div class="item">
								{{#each dataRecommend2}}
								<div class="col-sm-4">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="/img/upload/{{image}}" alt="" width="255.48" height="255.48"/>
												<h2>${{price}}</h2>
												<p>{{name}}</p>
												<a href="/product/detail/{{id}}" class="btn btn-default add-to-cart"><i
														class="fa fa-shopping-cart"></i>Xem Chi Tiết</a>
											</div>
										</div>
									</div>
								</div>
								{{/each}}
							</div>
						</div>
						<a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
				</div>
				<!--/recommended_items-->

			</div>
		</div>
	</div>
</section>
<script src=""></script>
</body>
