<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-sm-11">
                <h6 class="m-0 font-weight-bold text-primary">Edit Client Account</h6>
            </div>
            {{!-- <div class="col-sm-1">
                <a style="font-size: 12px;" class="btn btn-info" href="/admin/product/create">Create Product</a>
            </div> --}}
        </div>
    </div>
    <div class="card-body">
        <div style="overflow: hidden;" class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <form>
                   <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="number" disabled class="form-control" id="exampleInputIdEdit"
                            name="name" value="{{data.id}}">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" id="exampleInputNameEdit"
                            name="name" value="{{data.name}}">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Email</label>
                        <input type="email" disabled class="form-control" id="exampleInputEmailEdit" name="email" value="{{data.email}}">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Phone</label>
                        <input type="number" class="form-control" id="exampleInputPhoneEdit" name="phone" value="{{data.phone}}">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Address</label>
                        <input type="text" class="form-control" id="exampleInputAddressEdit" name="address" value="{{data.address}}">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Locked</label>                 
                        <select name="category" id="lockedSelected" class="form-select" aria-label="Default select example">
                            <option value="0">Mở khóa</option>
                            <option value="1">Khóa</option>
                        </select>
                    </div>
                  
                    <button type="button" class="btn btn-primary" id="editClientByAdmin" value="Update">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/admin/js/client.js">

</script>