<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							{{#each dataCategory}}
							<div class="panel panel-default">								
								<div class="panel-heading">
									<h4 class="panel-title">
										{{!-- <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
											{{!-- <span class="badge pull-right"><i class="fa fa-plus"></i></span> --}}
											{{name}}
										</a> --}}
										<ul>
											<li><a href="/product/?category={{id}}">{{name}} </a></li>
										</ul>
									</h4>
								</div>
								{{!-- <div id="sportswear" class="panel-collapse collapse">
									<div class="panel-body">
										{{#each dataTrademark}}										
										<ul>
											<li><a href="/product/?category=sport&&trademark=nike">{{this.name}} </a></li>
										</ul>
										{{/each}}
									</div>
								</div>								 --}}
							</div>
							{{/each}}
							
						</div><!--/category-productsr-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>Thương hiệu	</h2>
							<div class="brands-name">		
							{{#each dataTrademark}}
								<ul class="nav nav-pills nav-stacked">
									<li><a href="/product/?trademark={{id}}"> <span class="pull-right"></span>{{name}}</a></li>
								</ul>
							{{/each}}		
							</div>											
						</div><!--/brands_products-->
                    
                    <div class="price-range"><!--price-range-->
                        <h2>Phạm vi giá</h2>
                        <div class="well text-center">
                             <div class="slider slider-horizontal" style="width: 167px;"><div class="slider-track"><div class="slider-selection" style="left: 0.0025%; width: 0.002%;"></div><div class="slider-handle round left-round" style="left: 0.0025%;"></div><div class="slider-handle round" style="left: 0.0045%;"></div></div><div class="tooltip top" style="top: -30px; left: -32.4942px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">250 : 450</div></div><input type="text" class="span2" value="" data-slider-min="0" data-slider-max="10000000" data-slider-step="5" data-slider-value="[250,450]" id="sl2" style=""></div><br>
                             <b class="pull-left">0</b> <b class="pull-right">10 triệu</b>
                        </div>
                    </div><!--/price-range-->
                    
                    <div class="shipping text-center"><!--shipping-->
                        <img src="images/home/shipping.jpg" alt="">
                    </div><!--/shipping-->
                
                </div>
            </div>
            <div class="col-sm-9">
                <div class="blog-post-area">
                    <h2 class="title text-center">Bài viết gần đây</h2>
                    <div class="single-blog-post">
                        <h3>Girls Pink T Shirt arrived in store</h3>
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> Mac Doe</li>
                                <li><i class="fa fa-clock-o"></i> 1:33 pm</li>
                                <li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
                            </ul>
                            <span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                            </span>
                        </div>
                        <a href="">
                            <img src="images/blog/blog-one.jpg" alt="">
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <a class="btn btn-primary" href="">Đọc thêm</a>
                    </div>
                    <div class="single-blog-post">
                        <h3>Girls Pink T Shirt arrived in store</h3>
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> Mac Doe</li>
                                <li><i class="fa fa-clock-o"></i> 1:33 pm</li>
                                <li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
                            </ul>
                            <span>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </span>
                        </div>
                        <a href="">
                            <img src="images/blog/blog-two.jpg" alt="">
                        </a>
                        <p>Bản thân nỗi đau là quan trọng, nhưng nỗi đau được tăng cường bởi quá trình tạo mỡ, nhưng tôi cho nó thời gian để cắt giảm nó để tôi làm một số công việc lớn và đau đớn. Vì mục đích tối thiểu, ai trong chúng ta nên thực hiện bất kỳ công việc nào ngoại trừ việc tận dụng những hậu quả từ việc đó. Nhưng nỗi đau trong phim là không thể lên án, trong niềm vui sướng nó muốn thoát khỏi nỗi đau bị co cụm trong đau đớn, không có kết quả.</p>
                        <a class="btn btn-primary" href="">Đọc thêm</a>
                    </div>
                    <div class="single-blog-post">
                        <h3>Girls Pink T Shirt arrived in store</h3>
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> Mac Doe</li>
                                <li><i class="fa fa-clock-o"></i> 1:33 pm</li>
                                <li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
                            </ul>
                            <span>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </span>
                        </div>
                        <a href="">
                            <img src="images/blog/blog-three.jpg" alt="">
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <a class="btn btn-primary" href="">Đọc thêm</a>
                    </div>
                    <div class="pagination-area">
                        <ul class="pagination">
                            <li><a href="" class="active">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>