

	<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{{title}}</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/pagination.css" rel="stylesheet">
  <link href="css/prettyPhoto.css" rel="stylesheet">
  <link href="css/price-range.css" rel="stylesheet">
  <link href="css/animate.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
  <link rel="shortcut icon" href="images/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>
<!--/head-->
    <section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							{{#each dataCategory}}
							<div class="panel panel-default">								
								<div class="panel-heading">
									<h4 class="panel-title">
										{{!-- <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
											{{!-- <span class="badge pull-right"><i class="fa fa-plus"></i></span> --}}
											{{name}}
										</a> --}}
										<ul>
											<li><a href="/product/?category={{id}}">{{name}} </a></li>
										</ul>
									</h4>
								</div>
								{{!-- <div id="sportswear" class="panel-collapse collapse">
									<div class="panel-body">
										{{#each dataTrademark}}										
										<ul>
											<li><a href="/product/?category=sport&&trademark=nike">{{this.name}} </a></li>
										</ul>
										{{/each}}
									</div>
								</div>								 --}}
							</div>
							{{/each}}
							
						</div><!--/category-productsr-->
					
					
						<div class="brands_products"><!--brands_products-->
							<h2>Thương hiệu	</h2>
							<div class="brands-name">		
							{{#each dataTrademark}}
								<ul class="nav nav-pills nav-stacked">
									<li><a href="/product/?trademark={{id}}"> <span class="pull-right"></span>{{name}}</a></li>
								</ul>
							{{/each}}		
							</div>											
						</div><!--/brands_products-->
						
						
						<div class="price-range"><!--price-range-->
							<h2>Phạm vi giá</h2>
							<div class="well text-center">
								 <div class="slider slider-horizontal" style="width: 178px;"><div class="slider-track"><div class="slider-selection" style="left: 0.0025%; width: 0.002%;"></div><div class="slider-handle round left-round" style="left: 0.0025%;"></div><div class="slider-handle round" style="left: 0.0045%;"></div></div><div class="tooltip top" style="top: -30px; left: -32.9938px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">250 : 450</div></div><input type="text" class="span2" value="" data-slider-min="0" data-slider-max="10000000" data-slider-step="5" data-slider-value="[250,450]" id="sl2" style=""></div><br>
								 <b class="pull-left">0</b> <b class="pull-right">10 triệu</b>
							</div>
						</div><!--/price-range-->
						
						<div class="shipping text-center"><!--shipping-->
							<img src="images/home/shipping.jpg" alt="">
						</div><!--/shipping-->
					
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="/img/upload/{{image}}" alt="">
								<h3>ZOOM</h3>
							</div>
							{{!-- <div id="similar-product" class="carousel slide" data-ride="carousel">
								
								  <!-- Wrapper for slides -->
								    <div class="carousel-inner">
										<div class="item">
										  <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
										</div>
										<div class="item active">
										  <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
										</div>
										<div class="item">
										  <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
										</div>
										
									</div>

								  <!-- Controls -->
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div> --}}

						</div>
					
						<div class="col-sm-7">
								{{!-- {{#each data}} --}}
							<div class="product-information"><!--/product-information-->
								{{!-- <img src="img/upload/{{image}}" class="newarrival" alt=""> --}}
					
								<h2>{{name}}</h2>

								<p><b>Thương hiệu:</b>
								<b>
									{{trademarkProduct}}
								</b>			
								</p>
								<span>								
									<span>
										<label>Giá:</label>
										{{price}} VND
									</span>						
								</span>

								<span>		
									<span>
										<label>Trạng thái:</label>
										{{statusQuality}}
									</span>								
								</span>

								<span>
									<span>
										<label>Size: </label>
										{{sizes}}
									</span>
								</span>

								<span>
									<span>
										<label>Lượt xem: </label>
										{{views}}
									</span>
								</span>
									
								{{!-- <div class="buttons_added">
									<span>
										Số lượng mua: 
											<input aria-label="quantity" class="input-qty" max="Số tối đa" min="Số tối thiểu" name="" type="number" value="1">
									</span>
								</div> --}}

								<span>
									<button type="button" class="btn btn-fefault cart" id="button_add_cart">
										<i class="fa fa-shopping-cart"></i>
										<a href="/add/{{id}}" type="button">Thêm vào giỏ hàng</a>
										
									</button>
								</span>



								{{!-- <p><b>Trạng thái:</b> Trong kho</p>
								<p><b>Tình trạng:</b> Mới</p>
								<p><b>Thương hiệu:</b> E-SHOPPER</p> --}}
								{{!-- <a href=""><img src="img/upload/{{image}}" class="share img-responsive" alt=""></a> --}}
							</div><!--/product-information-->
						</div>
						{{!-- {{/each}} --}}
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								{{!-- <li><a href="#details" data-toggle="tab">Chi tiết</a></li>
								<li><a href="#companyprofile" data-toggle="tab">Hồ sơ công ty</a></li>
								<li><a href="#tag" data-toggle="tab">Tag</a></li> --}}
								<li class="active"><a href="product/detail/{{id}}?page=1" data-toggle="tab">Nhận xét</a></li>
							</ul>
						</div>
						<div class="tab-content">
							{{!-- <div class="tab-pane fade" id="details">
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery1.jpg" alt="">
												<h2>1.000.000 VND </h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery2.jpg" alt="">
												<h2>1.000.000 VND</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery3.jpg" alt="">
												<h2>2.000.000 VND</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery4.jpg" alt="">
												<h2>500.000 VND</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="companyprofile">
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery1.jpg" alt="">
												<h2>500.000 VND</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery3.jpg" alt="">
												<h2>500.000 VND</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery2.jpg" alt="">
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery4.jpg" alt="">
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="tag">
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery1.jpg" alt="">
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery2.jpg" alt="">
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery3.jpg" alt="">
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery4.jpg" alt="">
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
											</div>
										</div>
									</div>
								</div>
							</div> --}}
							
							<div class="tab-pane fade active in" id="reviews">
								<div class="col-sm-12">
									<ul>
										<li><a href=""><i class="fa fa-clock-o"></i>{{time}}</a></li>
										<li><a href=""><i class="fa fa-calendar-o"></i>{{date}}</a></li>
									</ul>
								</ul>
									<div id="ratings"></div>					
									{{!-- <form id = "comment" action="#">
										<input type="hidden" name="id" value="{{this.id}}">
										<textarea  name="content"></textarea>
										<b>Xếp hạng: </b> <img src="images/product-details/rating.png" alt="">
										<button id="submit-comment" type="submit" class="btn btn-default pull-right">
											Submit
										</button>
									</form> --}}
									<form id="comment" action="#" >
										<input name="productid" type="hidden" value="{{this.id}}">
										{{#if currentUser}}
											<input type="hidden" name="username" value="">
										{{else}}
											<input type="text" name="username" placeholder="Your Name">
										{{/if}}
										<textarea name="content"></textarea>
										<button id="submit-comment" type="submit" class="btn btn-default pull-right">Submit</button>
									</form>
								</div>
							</div>
							
						</div>
					</div><!--/category-tab-->
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">Đề xuất sản phẩm</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">	
									{{#each dataRecommend1}}
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/img/upload/{{image}}" alt="" width="255.48" height="255.48"/>
													<h2>${{price}}</h2>
													<p>{{name}}</p>
													<a href="/product/detail/{{id}}" class="btn btn-default add-to-cart"><i
															class="fa fa-shopping-cart"></i>Xem Chi Tiết</a>
												</div>
											</div>
										</div>
									</div>
									{{/each}}
								</div>
								<div class="item">	
									{{#each dataRecommend2}}
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/img/upload/{{image}}" alt="" width="255.48" height="255.48"/>
													<h2>${{price}}</h2>
													<p>{{name}}</p>
													<a href="/product/detail/{{id}}" class="btn btn-default add-to-cart"><i
															class="fa fa-shopping-cart"></i>Xem Chi Tiết</a>
												</div>
											</div>
										</div>
									</div>
									{{/each}}
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					
				</div>
			</div>
		</div>
	</section>
	<script>
     $("#submit-comment ").on( 'click', e => {
        e.preventDefault();
        const productid = $('input[name=productid]').val().toString()
		const username = $('input[name=username]').val().toString()
        const content = $('textarea[name=content]').val().toString()
        $.ajax({
            url: '/api/product/rate',
            method: 'POST',
            cache: false,
            data: { productid,username, content },
            success: function (data) {
                //console.log(data);
				loadRating();
            }
        })
	 })
	 function loadRating(){
		 try{
			const productid = $('input[name=productid]').val().toString();
			const page = {{page}};

			const url = '/api/product/'+productid+'/rating/?page='+page;
			$.getJSON(url, function(data){
			 let html ='';
			 const list = data.ratings;
			 const pages = data.pages;
			 const curPage = data.curPage;
			 for(const rate of list){
				 console.log(list)
				 html += `<b>${rate.user_name}</b>`;
				 html += `<p>${rate.content}</p>`;
			 }
			 if(pages > 1)
			 {
				html += `<div class="pagination">`;
 				html += `<a href="#">&laquo;</a>`;
				 for(let i = 1; i <= pages; i++)
				 {
					html += `<a  href="/product/detail/${productid}?page=${i}">&nbsp&nbsp${i}&nbsp&nbsp</a>`
				 }
				html += `<a href="#">&raquo;</a>`;
				html += `</div>`;
			 }
			 $('#ratings').html(html)
			 });
		 }
		 catch(err){
			 console.log(err)
		 }

	 }
	 loadRating();
	 $("#changPage").click(function(){
		 console.log("click")
	 });
	</script>
<script src="js/jquery.js"></scrip>
<script src="js/bootstrap.min.js"></scrip>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/price-range.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/main.js"></script>
<script src="/js/user/main.js"></script>

</html>