<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-sm-11">
                <h6 class="m-0 font-weight-bold text-primary">Edit Product</h6>
            </div>
            {{!-- <div class="col-sm-1">
                <a style="font-size: 12px;" class="btn btn-info" href="/admin/product/create">Create Product</a>
            </div> --}}
        </div>
    </div>
    <div class="card-body">
        <div style="overflow: hidden;" class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <form  action="./{{id}}" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email" name="name" value="{{name}}">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Quanlity</label>
                        <input type="quanlity" class="form-control" id="exampleInputPassword1" placeholder="Password" name="quanlity" value="{{quanlity}}">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Size</label>
                        <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Password" name="size" value="{{size}}">
                    </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Price</label>
                        <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Password" name="price" value="{{price}}">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Image</label>
                        <input type="file" id="exampleFormControlFile1" name="image" value="{{this.image}}">
                        <img style="width: 200px;" src="/img/upload/{{image}}" class="preview"/>
                    </div>
                      
                    <button type="submit" class="btn btn-primary"  value="Update">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>